*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
#root, #__next { isolation: isolate; }
li[role="list"]{ list-style:none; padding: 0; margin: 0; }

:root{
	/* colors */
	--blue-900: hsl(230,35%,7%);
	--blue-300: hsl(231,77%,90%);
	--white: hsl(0,0%,100%);

	/* typography */
	--fs-preset-1-desktop: 9rem;
	--fs-preset-2-desktop: 6.25rem;
	--fs-preset-3-desktop: 3.5rem;
	--fs-preset-4-desktop: 2rem;
	--fs-preset-5-desktop: 1.75rem;
	--fs-preset-7-desktop: .875rem;
	--fs-preset-8-desktop: 1rem;
	--fs-preset-9-desktop: 1.125rem;

	--fs-preset-2-tablet: 5rem;
	--fs-preset-3-tablet: 2.5rem;
	--fs-preset-4-tablet: 1.5rem;
	--fs-preset-5-tablet: 1.25rem;
	--fs-preset-9-tablet: 1rem;

	--fs-preset-1-mobile: 5rem;
	--fs-preset-2-mobile: 3.5rem;
	--fs-preset-3-mobile: 1.5rem;
	--fs-preset-4-mobile: 1.125rem;
	--fs-preset-6-mobile: 1rem;
	--fs-preset-8-mobile: .875rem;
	--fs-preset-9-mobile: .9375rem;

	/* spacing */
	--spc-1600: 8rem;
	--spc-1200: 6rem;
	--spc-1000: 5rem;
	--spc-800: 4rem;
	--spc-600: 3rem;
	--spc-500: 2.5rem;
	--spc-400: 2rem;
	--spc-300: 1.5rem;
	--spc-200: 1rem;
	--spc-150: .75rem;
	--spc-100: .5rem;
	--spc-50: .25rem;
	--spc-25: .125rem;

}

/* utility classes */
.overlay-homepage{
	border-image: fill 1 linear-gradient(hsl(230, 35%, 7%, .3), hsl(230, 35%, 7%, .3));

}
.emphasize{
	font-family: 'Bellefair';
	font-size: var(--fs-preset-2);
	letter-spacing: 0px;
}

.single-planet-venus{
	font-family: 'Bellefair';
	font-size: var(--fs-preset-2);
	letter-spacing: 0px;
}

.double-planet{
	font-family: 'Bellefair';
	font-size: var(--fs-preset-3);
	letter-spacing: 0px;
}

.triple-planet{
	font-family: 'Bellefair';
	font-size: var(--fs-preset-4);
	letter-spacing: 0px;
}

.subtitle{
 	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .125rem;
	font-family: 'Bellefair';
}
.h{
	display: none;
}

body{
    background-image: url('./assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:100vh;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', 'sans-serif';
    color: var(--white);
    font-size: var(--fs-preset-5-mobile);
    line-height: 1.8;
    padding: var(--spc-300);

    @media (min-width: 1024px){
    background-image: url('./assets/home/background-home-desktop.jpg');
    }

}

/*
.nav-card-wrapper{
	display: grid;
	grid-template-rows: 1fr 1fr;

}
*/

 .nav-wrapper{
	 display: flex;
	 justify-content:space-between;
	 margin-bottom: 48px;
	 font-family: "Barlow Condensed";
	 font-size: var(--fs-preset-8-desktop);
	 letter-spacing: 2px;

	span{
		font-weight: 700;
	}
	.nav-menu-drawer{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;		
		width: 70%;
		backdrop-filter: blur(40px);

		button{
			display: block;
			margin: 32px 24px 32px auto;
		}
	}                         
	
 }
 .list-wrapper{
	 display: grid;
	 gap: 32px;
	 margin-top: 48px;

	 .li-item{
		 display: inline-block;
		 color: white;
		 text-decoration: none;
	 }

 }

 .card-wrapper{
	 display: grid;
	 grid-template-rows: 1fr 1fr;
	 max-width: min(512px, 100%);
	 margin-inline: auto;
	 outline: 2px dashed yellow;

	 @media (min-width: 1024px){
		 grid-template-columns: 1fr 1fr;
		 grid-template-rows: 1fr;
		 max-width: min(1110px, 100%);
		 transform: translateY(25%);

		 & .card{
			 text-align: left;
			 grid-column: 1 / 2;
		 }
		 
		 & .card .card--title{
			 font-family: "Barlow Condensed";
			 font-size: var(--fs-preset-5-desktop);
		 }

		 & .card span{
			 font-family: "Bellefair";
			 font-size: var(--fs-preset-1-desktop);
			 line-height: 1.1;
		 }

		 & div:last-child {
			 grid-column: 2 / 3;
			 grid-row: auto;
			 outline: 2px dashed white;
			 margin-left: auto;
			 margin-block: auto;
		 }
	 }
 }

.card{
	display: grid;
	gap: var(--spc-300);
	text-align:center;
	font-family: var(--fs-preset-9-mobile);
	letter-spacing: 0;
	font-weight: 200;
	font-family: 'Barlow Condensed';
	grid-row: 1 / 2;

}

.card p{
	font-size: var(--fs-preset-4-mobile);
	font-weight: 300;
	text-transform: none;
}

.card--title{
	font-size: var(--fs-preset-6-mobile);
	font-weight: 400;
	letter-spacing: .125rem;
}

.card--title span{
	font-family: 'Bellefair';
	font-size: var(--fs-preset-1-mobile);
	font-weight: 400;

}

.nav-wrapper button{
	background:none;
	border:none;
}

.explore-btn-wrapper{
	grid-row: 2/3;
	justify-self: center;
	align-self: center;

}
.card-wrapper button{
	font-size: clamp(var(--fs-preset-4-mobile), 2vw ,var(--fs-preset-4-desktop));
	text-transform: uppercase;
	width: clamp(144px, 16vw,272px);
	border-radius: 100vh;
	height: clamp(144px, 16vw,272px);
	border:none;
	cursor:pointer;
	letter-spacing: .125rem;
	display:inline-block;

}
